<div class="ui container">

    <h1 class="ui header">Bringing the power of Web 3.0 to Angular 1</h1>

    <div class="ui segment">
        <h2 class="ui header">What is Web 3.0 ?</h2>

        <p>To understand this concept, it is important to remember what defines web 1.0 and web 2.0.</p>

        <h3 class="ui header">Web 1.0</h3>
        <p>
            Web 1.0 was the original way of building websites. Each and every time a user click a link, a GET request was sent back to the server, which was generating a full HTML page,
            then the browser was re-rendering the new page to the user.
            These had significant performance impacts, and these were addressed with innovative and aggressive caching strategies.
        </p>


        <p>Back in the days, traditional mail clients were following this precept.
            Imagine that in 2002, you were logged into your mail client at msn.com (for example), and you wanted to see if you had received any new email?
            your only choice was to press F5 - and wait a loooooong time for the page to refresh.
            You wanted to read this email? same story....repeat.</p>

        <h3 class="ui header">Google created Web 2.0</h3>

        <p>When Google released gmail in 2004, it's been a technological revolution.
            It was the first time a website used XMLHttpRequest (Known as AJAX) extensively to avoid re-rendering the whole page again.</p>

        <p>This marked the birth of web application development, and up to last year, this is how we - web application developer -
            have been developing performant web application that run smoother, faster, with a much richer UX, clsoing the gap between Desktop native application, and applications running in javascript environment.</p>

        <h3 class="ui header">FLUX, ReactJS and the Web 3.0</h3>

        <p>In 2015, Facebook released his own web application framework, which follows a revolutionary FLUX architecture.
            The revolution passed almost unoticed by most experts.
            FLUX allows to run the same javascript code on both the browser and the server, opening the door to pure javascript server side rendered websites.</p>

        <p>The implications are enormous: all the technological benefits that have been made available to web application developers
            are now accessible to website developers. It means that in the near future, traditional websites can now benefits from all the performance gains and great user experience improvements.</p>

    </div>
    <h1 class="ui header">Advantages</h1>

    <div class="ui three stackable cards">

        <a class="ui card" href="#">
            <div class="content">
                <div class="header">HTML caching</div>
                <div class="meta">
                    <span class="category">Performance</span>
                </div>
                <div class="description">
                    <p>
                        HTML caching is supported on a per URL basis.
                        You can set which URLs will be cached and for how long individually.
                    </p>
                </div>
            </div>
        </a>

        <a class="ui card" href="#">
            <div class="content">
                <div class="header">REST caching</div>
                <div class="meta">
                    <span class="category">Performance</span>
                </div>
                <div class="description">
                    <p>
                        Once pre-rendered on the server, the page is sent to the browser with all the templates and REST calls pre-loaded, which greatly reduce the page loading time.
                    </p>
                </div>
            </div>
        </a>

        <a class="ui card" href="#">
            <div class="content">
                <div class="header">SEO</div>
                <div class="meta">
                    <span class="category">Marketing</span>
                </div>
                <div class="description">
                    <p>
                        With server side rendering, all the Angular code is pre-rendered on the server, making the HTML accessible to all crawlers.
                    </p>
                </div>
            </div>
        </a>
    </div>


    <h1 class="ui header">Workflow</h1>

    <div class="ui ordered vertical steps">
        <div class=" step">
            <div class="content">
                <div class="title">Link Request</div>
                <div class="description">The user requests the url tld.com/page and sends the GET request to the server.</div>
            </div>
        </div>
        <div class=" step">
            <div class="content">
                <div class="title">Server Side rendering</div>
                <div class="description">Node.JS server receives the request, pre-render the ng app, and send the full HTML back to the browser.</div>
            </div>
        </div>
        <div class=" step">
            <div class="content">
                <div class="title">Browser receives the html</div>
                <div class="description">The Angular.js app is bootstrapped as usual.</div>
            </div>
        </div>

        <div class=" step">
            <div class="content">
                <div class="title">No more REST calls on load</div>
                <div class="description">The REST results have been injected inside the angular app by the renderer.</div>
            </div>
        </div>
    </div>
</div>