<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="" class="header item">
            Angular.js-server
        </a>
        <a href="" class="item">Home</a>
        <a href="getting-started" class="item">Getting started</a>
        <a href="documentation" class="item">Documentation</a>
        <a href="https://github.com/a-lucas/angular.js-server/issues" class="item">Issues</a>
        <a href="https://github.com/a-lucas/angular.js-server" class="item">Contribute</a>
    </div>
</div>
