div(id="msg")
div(
    ng-controller="MainCtrl as vm"
    id="mainDiv"
)
    Choose
    a(href="/Todo") Todo |

    a(href="/Main") {{vm.title}} |
    a(href="/Error") Error

    div(ng-view,id="prerendered")