html(ng-app="myApp")
    head
        base(href="/")
    body

        include angular

        script(src="build-angular-engine/angular.js")
        script(src="build-angular-engine/angular-resource.js")
        script(src="build-angular-engine/angular-route.js")
        script(src="node_modules/angular-cache/dist/angular-cache.js")
        script(src="dist/app.js")

