html(id="myApp")
    head
        base(href="/")
    body !{angularServerHtml}
        script(src="build-angular-engine/angular.js")
        script(src="build-angular-engine/angular-resource.js")
        script(src="build-angular-engine/angular-route.js")
        script(src="dist/app.js")