<html ng-app="myApp">
<head>
    <base href="/" />
</head>
<body>

    {% include "./angular.html" %}

    <script src="build-angular-engine/angular.js"></script>
    <script src="build-angular-engine/angular-resource.js"></script>
    <script src="build-angular-engine/angular-route.js"></script>
    <script src="build-angular-engine/angular-animate.js"></script>
    <script src="build-angular-engine/angular-aria.js"></script>
    <script src="build-angular-engine/angular-cookies.js"></script>
    <script src="build-angular-engine/angular-message-format.js"></script>
    <script src="build-angular-engine/angular-messages.js"></script>
    <script src="build-angular-engine/angular-sanitize.js"></script>
    <script src="build-angular-engine/angular-touch.js"></script>
    <script src="dist/app.js"></script>
</body>
</html>