<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">

    {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
    <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/semantic-ui.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

</head>
<body>


    {% include menu.html %}

    <main id="mainContainer">
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="/js/semantic-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <script src="/js/toc.min.js"></script>
    <script src="/js/sticky.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>